# Ignore
.o/
slurm_error/
slurm_output/
.stuff/
# src/translate/*
models/
.vscode
**/__pycache__/
*.log
# Allow
*.sh
# data/
datasets/
# results/
*.spacy
TASTEset-2.0/
awesome-align/
.bertexperiments/
bert_crf/
.old/
paper/code
results/